h1{
justify-content: center;
text-align: center;
}
.search{
    text-align: center;
    justify-content: center;
  
}
.sc{
    margin-top: 10px;
}
.fcsearch{
 font-size: 30px;
 margin-left: 6px;
 cursor: pointer;
 margin-top: 8px;
}